.login-container {
  width: 100%;
  min-height: 100vh;
  background-image: url('https://res.cloudinary.com/dfjb7xrjo/image/upload/v1738510219/Das-NxtMart/Bg-desktop_mbt3b9.png');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  object-fit: cover;
  object-position: center center;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-card {
  width: 100%;
  max-width: 400px;
  background-color: #fff;
  padding: 10px;
  padding-top: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* gap: 5px; */
}
.login-logo {
  width: 100%;
  max-width: 100px;
  margin: 10px auto;
}
form {
  width: 85%;
  max-width: 100%;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.input-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}
.login-card label {
  width: 100%;
  text-align: left;
  font-size: 12px;
  font-weight: 400;
  color: #555;
}
.login-card .input {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  border: 1px solid #64748b;
  border-radius: 8px;
  transition: all 0.3s 0s ease-in-out;
}
.login-card .input:focus,
.login-card .input:hover,
.login-card .input:active {
  box-shadow: 0 0 5px 0 #64748b;
}
.login-icons {
  width: 16px;
  margin-left: 8px;
  aspect-ratio: 1/1;
  object-fit: cover;
}
.login-card input[type='text'],
.login-card input[type='password'] {
  width: 100%;
  border-radius: 0 8px 8px 0;
  height: 35px;
  border: none;
  font-size: 14px;
  font-weight: 400;
  color: #333;
  letter-spacing: 0.15em;
  padding: 0px 10px;
  outline: none;
  background-color: transparent !important;
}
.login-card input[type='password'] {
  font-family: password;
}
.login-card .input-box:nth-child(3) {
  flex-direction: row;
  gap: 1px;
}
.login-card input[type='checkbox'] {
  width: 16px;
  border-radius: 2px;
  accent-color: #088c03;
  transform: scale(1.2);
  cursor: pointer;
}
.login-card label:last-child {
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
}
.login-btn {
  width: 100%;
  background-color: #088c03;
  border: none;
  border-radius: 8px;
  padding: 12px 24px;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
}
.errormsg-para {
  width: 100%;
  margin: 0;
  margin-top: -12px;
  height: 20px;
  padding: 0;
  text-align: left;
  color: #ef4444;
  font-weight: 400;
  font-size: 14px;
}
@media screen and (max-width: 767px) {
  .login-container {
    background-image: url('https://res.cloudinary.com/dfjb7xrjo/image/upload/v1738510219/Das-NxtMart/Bg-mobile_xkxjg8.png');
  }
  .login-logo {
    max-width: 80px;
  }
  form {
    width: 95%;
  }
  .login-card {
    width: 95%;
  }
}
