.header {
  width: 100%;
  padding: 0 30px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #d8d8d833; */
  background-color: #fff;
  position: sticky;
  top: 0;
  z-index: 10;
}
.header-nav {
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.logo-link {
  width: auto;
}
.header-logo {
  width: 100%;
  min-width: 40px;
  max-width: 70px;
  object-fit: contain;
  /* margin-left: 20px; */
}
.desktop-menus-ulbox {
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  margin-left: auto;
}
.desktop-menu-link {
  text-decoration: none;
  color: #333;
  border-bottom: 3px solid transparent;
  transition: all 0.3s 0s ease-in-out;
  position: relative;
  overflow: hidden;
  padding-bottom: 5px;
  font-size: 16px;
  font-weight: 400;
}
.desktop-menu-link:hover {
  color: #088c03;
}
.active-menuTab {
  color: #088c03;
  border-color: #088c03;
  font-weight: 500;
}
.logout-btn {
  border: none;
  background-color: transparent;
  padding: 0;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  color: #333;
  font-size: 16px;
  font-weight: 400;
  /* margin-left: 12px; */
  margin-bottom: 5px;
}

@media screen and (max-width: 767px) {
  .header {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: unset;
    height: 50px;
    padding: 5px 0px;
    /* background-color: unset; */
    border-radius: 20px 20px 0 0;
    background-color: #fff;
    border: 1px solid #d1d5db;
    box-shadow: 0px 7px 32px 0px #0000000d;
  }
  .header-nav {
    width: 100%;
  }
  .logo-link {
    display: none;
    visibility: hidden;
  }
  .desktop-menus-ulbox {
    width: 100%;
  }
  .desktop-menu-link {
    border: none;
    width: 33%;
    text-align: center;
  }
  .mobile-nav-btn {
    background-color: #fff;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    width: 33.33%;
    text-align: center;
  }
  .mobile-nav-btn:last-child {
    transform: scaleX(-1);
  }
}
