.not-found-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 10px;
}
.not-found-img {
  width: 100%;
  max-width: 350px;
}
.not-found-heading {
  font-size: 24px;
  font-weight: 500;
  color: #191919;
  text-align: center;
  margin: 0;
}
.not-found-para {
  font-size: 16px;
  font-weight: 400;
  color: #19191980;
  text-align: center;
}
